<%- include('header'); -%>

<!-- Call to Action Start -->

<div class="container-xxl py-5">
  <div class="container">
  <div class="bg-light rounded p-3">
  <div class="bg-dark rounded p-4" style="border: 1px dashed rgba(0, 185,
  142, .3); background-color: #00b98e !important;">
  <!-- <div class="row g-5 align-items-center"> -->
  <div class="text-center mx-auto mb-5 wow fadeInUp" data-wowdelay="0.1s" style="max-width: 600px;">
    <% if(queryString.msg=="invalidEmail") { %>
      <p class="alert alert-danger"> Email id is not exist or registered</p>
    <% } %>
      
    <% if(temp_fp!=null){ %>
        <p class="alert alert-info"> Please check your email for otp</p>
    <% } %>
      
    <form action="/fp" method="post">
      <h1>Forget Password</h1>
  <% if(temp_fp==null){ %>
    <p class="text-white">Enter the registered email for otp</p>
  <div class="row">
    <label for="inputPassword" class="col-sm-2 col-formlabel text-white">E-mail:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control"
  name="email" placeholder="Email" required="">
</div>
</div>
  <% } %>
  <br>

  <% if(temp_fp==null){ %> 
    <div class="text-center mx-auto" data-wow-delay="0.1s" style="max-width: 200px;">
      <button type="submit" class="btn btn-dark border-0 w-100">LogIn</button>
    </div>
    <% } %>
 <br>

  </form>
  <br>
  <% if(temp_fp!=null) { %>
    <p class="text-white">Enter your registerd email OTP</p>
    <form action="/checkotp" method="post">
      <div class="row">
      <label for="inputPassword" class="col-sm-2 col-formlabel text-white">OTP:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="otp" placeholder="Enter OTP" required=""><br>
      </div>
      <div class="text-center mx-auto" data-wow-delay="0.1s" style="max-width: 200px;">
      <button type="submit" class="btn btn-dark border-0 w-100">Verify</button>
    </div>
      </div>

    </form>

  <% } %>
  <p>Don't have an Account? <a class="border-bottom" href="/SignUp"style="color: #fff;"> SignUp Now!</a></p>
</div>
</div> 
</div>
</div>
</div>



<!-- Call to Action End -->
