<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Add Testimonial Here</h1>
                <h1 class="page-subhead-line">Makaan property here</h1>
               

            </div>

        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="alert alert-info">
                 form   This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                  <br />
                    Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                </div> -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Testimonial Form
                    </div>
                    <div class="panel-body">
                    
                        <form action="/addTestimonial" role="form" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Client Name</label>
                                <input name="clientname" class="form-control" type="text">
                                <p class="help-block">Help text here.</p>
                            </div>
                     <div class="form-group">
                                <label>Client Profession</label>
                                <input name="clientprof" class="form-control" type="text">
                         <p class="help-block">Help text here.</p>
                            </div>
                            
                            <div class="form-group">
                                <label>Client Image</label>
                                <input name="clientimage" class="form-control" type="file">
                         <p class="help-block">Help text here.</p>
                                
                         
                         <div class="form-group">
                                <label>Client Description</label>
                                <textarea name="clientdesc" class="form-control" rows="3"></textarea>
                            </div>

                        </div>

                
                       
                      
                     
                            <button type="submit" class="btn btn-info">Add Testimonial </button>

                        </form>
                        <a href="/show_testimonial">View Record</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>