<div id="page-wrapper">

        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Category Form
                    </div>
                    <div class="panel-body">
                    
                        <form action="/addCategory" role="form" method="post" >
                            <div class="form-group">
                                <label>Category Name</label>
                                <input name="cname" class="form-control" type="text">
                                <p class="help-block">Help text here.</p>
                            </div>
                              <button type="submit" class="btn btn-info">Add Category</button>

                        </form>
                        <a href="/show_categories">View Record</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
    

    
    
