<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Add Agent Here</h1>
                <h1 class="page-subhead-line">Makaan property here</h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="alert alert-info">
                 form   This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                  <br />
                    Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                </div> -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add Agent Form
                    </div>
                    <div class="panel-body">
                    
                        <form action="/addAgent" role="form" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Agent Name</label>
                                <input name="name" class="form-control" type="text">
                                <p class="help-block">Help text here.</p>
                            </div>
                     <div class="form-group">
                                <label>Desgination</label>
                                <input name="desi" class="form-control" type="text">
                         <p class="help-block">Help text here.</p>
                            </div>

                                                      

                            

                            <div class="form-group">
                                <label>Facebook</label>
                                <input name="fb" class="form-control" type="text">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Twitter</label>
                                <input name="tweet" class="form-control" type="text">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Instagram</label>
                                <input name="insta" class="form-control" type="text">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Agent Image</label>
                                <input name="img" class="form-control" type="file">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Agent Email</label>
                                <input name="aemail" class="form-control" type="email">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input name="apass" class="form-control" type="password">
                         <p class="help-block">Help text here.</p>
                            </div>

                            <div class="form-group">
                                <label>Select Agent Role</label>
                                <select class="form-control" name="role" >
                                    <option value="">Select</option>
                                    <option value="" name="role">Owner</option>
                                    <option value="" name="role">Agent</option>
                                   
                                </select>
                         <p class="help-block">Help text here.</p>
                            </div>
                           
                      
                     
                            <button type="submit" class="btn btn-info">Add Agent </button>

                        </form>
                        <a href="/show_agents">View Record</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>