<%- include('header.ejs') %> 
<%- include('sidebar.ejs') %> 
    
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">All Property Type</h1>
                <h1 class="page-subhead-line">Property Type property here</h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="alert alert-info">
                 form   This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                  <br />
                    Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                </div> -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Property Type List
                    </div>
                    <div class="panel-body">
                    
                    <p><b>Property Type Name :</b> <%= sdata[0].ptname%></p>
    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>

<%- include('footer.ejs') %> 