
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">All Property Type</h1>
                <% if(pdata.msg=='delete_proptype') { %>
                    <h1 class="page-subhead-line">Property Type Deleted Successfully!</h1>
                    <% } else { %>
                    <h1 class="page-subhead-line"></h1>
                    <% } %>
                    <% if(pdata.msg=='update') { %>
                        <h1 class="page-subhead-line">Property Type updated Successfully!</h1>
                        <% } %>
                

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="alert alert-info">
                 form   This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                  <br />
                    Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                </div> -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Property Type List
                    </div>
                    <div class="panel-body">
                    
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                   
                                    <th>Property Type Name</th>
                                    <th>View</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <% for(let k of pdata.sdata) { %>
                            <tbody>
                                <tr>
                                    <td><%=k.ptname%></td>
                                    <td><a href="/PropertyS/<%=k._id%>">View</a></td>
                                    <td><a href="/updateP/<%=k._id%>">Update</a></td>
                                    <td><button onclick="deleteRecords('<%=k._id%>')">Delete</button></td>
                                </tr>
                               
                            </tbody>
                            <% } %>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<script>
    const putMethod = {
        method:'delete',
        headers:{
            'Content-type': 'application/json; charset=UTF-8'
        },
    
   }

   function deleteRecords(n){
   
   fetch(`/delete_property_type/${n}`, putMethod)
   .then((data)=>{
    window.location.href="/show_property_type?success=delete_proptype"
    console.log(data)
   })
   .catch(err => console.log(err))
   }
       
    
</script>

    
  
       
    
